/* Algemene stijlen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto; /* Ensures the body can scroll */
    background-image: url(../images/car_black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}

h1, h2 {
    text-align: center;
    margin: 20px;

}

#h1_index{
    padding-top: 30px;
    color:whitesmoke
}

button, input[type="submit"] {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}

textarea, select {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

label {
    display: block;
    width: 80%;
    margin: 10px auto 5px;
    text-align: left;
}

textarea{text-align: left;}

.container_index, .container_description{
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(218, 215, 215, 0.438);
    background-color: #adb3b993;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: auto; /* Ensures the container can scroll if content overflows */

}

.container_recommended{
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #adb3b993;
   
}

.container_dropdown {
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #adb3b993;
}
.container_dropdown select{
    text-align: left;
}


/* Kaart stijlen */
.card {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    float: left;
    margin: 5px;
    justify-content: center;
    
}

.card img {
    width: 10%;
}

.card-details {
    width: 100%;
    text-align: left;
    padding: 10px;
}

/* Responsieve stijlen voor mobiel en desktop */
@media (max-width: 768px) {
    button, input[type="submit"], textarea, select, label {
        width: 100%;
    }
    .container_recommended{
        width: 100%;
        align-items: center;
    }
    .container_recommended h1{
        font-size: 20px;
        text-align: center;
        
    }
    .card {
        
    width: 75%;
    }
    .card img {
        max-width: 100%;
    }

    .card-details {
        padding: 10px 0;
    }
}