/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
    background-color: #d3ece0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
    margin: 0;
}
h1, h2 {
    text-align: center;
  
}

#h1_index {
    color: black
}

#logo {
 margin-top: 80px;
}

button, input[type="submit"] {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    font-size: 16px;
    background-color: #035f3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #153a27;
}

textarea, select {
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    background-color: #fff;
    color: #333;
}

label {
    display: block;
    width: 80%;
    margin: 10px auto 5px;
    text-align: left;
    
}

textarea {
    text-align: left;
}

.container_index, .container_description {
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: rgba(233, 236, 239, 0.287);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    color: black;
}

.container_recommended {
    width: 80%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: rgba(233, 236, 239, 0.287);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.container_dropdown {
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: rgba(233, 236, 239, 0.287);
}

.container_dropdown select {
    text-align: left;
}

.container_recommended h1 {
    width: 100%;
    color: #333;
}

/* Card Styles */
.card {
    background-color: #ffffff8e;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin: 5px;
    justify-content: center;
}

.card img {
    width: 20%;
    border-radius: 10px;
}

.card-details {
    width: 100%;
    text-align: left;
    padding: 10px;
    color: #333;
}


  


.container_login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 0;
    background-color: rgba(233, 236, 239, 0.287);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.label-login {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#button-login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#button-login:hover {
    background-color: #153a27;
}

#footer {
    display: block;
    width: 100%;
    background-color: #035f3d;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
}
/* Responsive Styles for Mobile and Desktop */
@media (max-width: 768px) {
    button, input[type="submit"], textarea, select, label {
        width: 100%;
    }

    .container_recommended {
        width: 100%;
        align-items: center;
    }

    .container_recommended h1 {
        font-size: 20px;
        text-align: center;
    }

    .card {
        width: 75%;
    }

    .card img {
        max-width: 100%;
    }

    .card-details {
        padding: 10px 0;
    }
    .container_login {
        width: 50%;
       
    }
    

    
}
