<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Search - Description</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container_description">
        <h2>Beschrijf de auto die u zoekt</h2>
        <form action="/analyze" method="post">
            <textarea name="description" placeholder="Beschrijving invoeren..."></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
    <footer>
        <p>Rojeeh Abdulhannan &#169;</p>
    </footer>
</body>
</html>
