<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <img src="../static/images/leaf.png" id="logo">
    <h1 id="h1_index">Car Recommendation System</h1>
    <div class="container_index">
        <h2>{{username}}</h2>


        <h2>Hoe wilt u een auto zoeken?</h2>
        <button onclick="window.location.href='/description'">Beschrijf de auto</button>
        <button onclick="window.location.href='/dropdown'">Beantwoord vragen</button>
        {% if username %}
        <button onclick="window.location.href='/history'">History</button>
        {% endif %}
    </div>
    <div id="footer">
        <footer>
            <p>Rojeeh Abdulhannan &#169;</p>
        </footer>
    </div>
</body>
</html>
