<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <img src="../static/images/leaf.png" id="logo">
    <h1 id="h1_index">Car Recommendation System</h1>
    <div class="container_index">
        <button onclick="window.location.href='/login-page'">Login</button>
        <button onclick="window.location.href='/register-page'">Register</button>
        <button onclick="window.location.href='/home'">Skip</button>
    </div>
    <footer>
        <p>Rojeeh Abdulhannan &#169;</p>
    </footer>
</body>
</html>
