<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Car Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <img src="../static/images/leaf.png" id="logo">
    <h1 id="h1_login">Car Recommendation System - Login</h1>
    <div class="container_login">
        <img src="../static/images/Avatar.png">
        <form action="/login" method="post">
            <label for="username" class="label-login">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password" class="label-login">Password:</label>
            <input type="password" id="password" name="password" required>
            <button id= "button-login" type="submit">Login</button>
        </form>
    </div>
    <div id="footer">
        <footer>
            <p>Rojeeh Abdulhannan &#169;</p>
        </footer>
    </div>
</body>
</html>

